# Application Config
PORT=3000
NODE_ENV=development

# Database Config (DB_TYPE can be 'sqlite' or 'postgres')
DB_TYPE=sqlite

# For SQLite (default)
DB_DATABASE=database.sqlite

# For PostgreSQL 
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=ojith2003
DB_NAME=Local PostgreSQL Server

# JWT Config
JWT_SECRET=9fcb530f11f43bf4e94de8c689f344496ea8d6dd9965b8660bdc8d0d70325b3c7351fcae46bcb0da837b1999615fc816dac2626c485d11f5f3903d2c21fc881a
JWT_EXPIRATION=15m

JWT_REFRESH_SECRET=9e8d0d576eed99f5a98430bb2b90f932841b70ea59872bbe769aec109dbbebe9b6629c9b0f16e7ab9cbcfdaa888a7907a937ddd47e4e53437ecbd6ea4dbde30b
JWT_REFRESH_EXPIRATION=7d

